
.body{
  background-color: white;
}

.hero{
  padding-top:3em;
}

.tri-card{
  margin-top:90px;
  padding-top: 5em;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #ffcc00;
  border-radius: 50%;
  display: inline-block;
}


.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
position:relative;
padding:0px;
}

.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }


  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {  }
  

  @media (min-width: 1200px) { 

body {
    margin-top: 50px;
}

  .navbar{
    position: fixed;
    right: 0;
    left: 0;   
    border-radius: 0;
    top: 0;
  }      
}

